<div class="bg-gradient-to-tr from-fuchsia-300 to-sky-500">
  <section
  id="login"
  class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto"
  >
  <div class="p-6 bg-sky-100 rounded">
      <div>
        <h3>Wheelchair Automated Measurement System</h3>
        <img
          src="assets/images/wams_logo.jpeg"
          alt="WAMS Logo"
          class="w-22 h-28 mx-auto"
        />
      </div>
      <div class="flex items-center justify-center font-black m-3 mb-12">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mr-3 text-red-600 animate-pulse" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg> -->
        <!-- <h1 class="tracking-wide text-3xl text-gray-900">WAMS</h1> -->
        <!-- <label for="height-range" class="block font-extrabold mb-2 underline text-sm text-center text-slate-700">Model:</label> -->
        <!-- <div>
        <mat-radio-group name="modelList" [(ngModel)]="chosenModel" (change)="onChangeModel($event)">
          <mat-radio-button *ngFor="let op of modelButtons" [value]="op.name" name="opList" >{{ op.name}}</mat-radio-button>
        </mat-radio-group>
      </div> -->
      </div>
      <form
        id="wams_form"
        action="api_login"
        method="POST"
        class="flex flex-col"
      >
        <div class="flex justify-between items-center mb-3">
          <label
          for="height-range"
          class="block font-extrabold mb-2 underline text-sm text-center text-slate-700"
          >Height:</label
          >
          <input matInput type="text" [(ngModel)]="heightInInches" [value]="heightInInches" [ngModelOptions]="{standalone: true}" (change)="onChangeHeight($event)">
          <label
            for="height-range"
            class="block mb-2 text-sm font-medium text-slate-700"
            >{{ heightInInches }} inches ({{ heightInFeetAndInches }})</label
          >
        </div>
        <!-- <div class= "justify-between items-center mb-3">
          <input [min]=32 [max]=90 id="height-range" (change)="onChangeHeight($event)" type="range" value="{{heightInInches}}" class="h-2 w-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-400">
        </div> -->
        <mat-slider
          min="32"
          max="90"
          id="height-range"
          step="1"
          showTickMarks
          discrete
          [displayWith]="formatLabel"
        >
          <input
            (change)="onChangeHeight($event)"
            value="{{ heightInInches }}"
            matSliderThumb
          />
        </mat-slider>
        <div class="flex justify-between items-center mb-3">
          <label
            for="height-range"
            class="block font-extrabold mb-2 underline text-sm text-center text-slate-700"
            >Weight:</label
          >
          <input matInput type="text" [(ngModel)]="weightInPounds" [value]="weightInPounds" [ngModelOptions]="{standalone: true}" (change)="onChangeWeight($event)">

          <label
            for="height-range"
            class="block mb-2 text-sm font-medium text-slate-700"
            >{{ weightInPounds }} lbs</label
          >
        </div>
        <!-- <div class= "justify-between items-center mb-3">
          <input [min]=90 [max]=400 id="weight-range" (change)="onChangeWeight($event)" type="range" value="{{weightInPounds}}" class="h-2 w-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-400">
        </div> -->
        <mat-slider
          min="90"
          max="400"
          id="height-range"
          step="1"
          showTickMarks
          discrete
          [displayWith]="formatLabel"
        >
          <input
            (change)="onChangeWeight($event)"
            value="{{ weightInPounds }}"
            matSliderThumb
          />
        </mat-slider>

        <div class="flex justify-between items-center mb-3">
          <label
            for="height-range"
            class="block font-extrabold mb-2 underline text-sm text-center text-slate-700"
            >Age:</label
          >
          <input matInput type="text" [(ngModel)]="age" [value]="age" [ngModelOptions]="{standalone: true}" (change)="onChangeAge($event)">

          <label
            for="height-range"
            class="block mb-2 text-sm font-medium text-slate-700"
            >{{ age }} y/o</label
          >
        </div>
        <!-- <div class= "justify-between items-center mb-3">
          <input [min]=0 [max]=120 id="age-range" (change)="onChangeAge($event)" type="range" value="{{age}}" class="h-2 w-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-400">
        </div> -->
        <mat-slider
          min="18"
          max="120"
          id="height-range"
          step="1"
          showTickMarks
          discrete
          [displayWith]="formatLabel"
        >
          <input
            value="{{ age }}"
            (change)="onChangeAge($event)"
            matSliderThumb
          />
        </mat-slider>
        <div class="flex justify-between items-center mb-3">
          <label
            for="height-range"
            class="block font-extrabold mb-2 underline text-sm text-center text-slate-700"
            >Gender:</label
          >
        </div>

        <div class="justify-between w-full mb-3 items-center">
          <!-- gender radio button -->
          <input
            id="male-radio"
            type="radio"
            value="male"
            checked
            (change)="onChangeGender($event)"
            name="default-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="default-radio-1"
            class="ml-2 pr-5 text-sm font-medium text-gray-900"
            >Male</label
          >
          <input
            id="female-radio"
            type="radio"
            value="female"
            (change)="onChangeGender($event)"
            name="default-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="default-radio-1"
            class="ml-2 pr-5 text-sm font-medium text-gray-900"
            >Female</label
          >
          <input
            id="other-radio"
            type="radio"
            value="other"
            (change)="onChangeGender($event)"
            name="default-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <label
            for="default-radio-1"
            class="ml-2 pr-5 text-sm font-medium text-gray-900"
            >Other</label
          >
        </div>

      </form>

      <!-- Section for images -->
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Image">
          <div *ngIf="imageData" class="object-contain max-w-fit border border-sky-500 justify-center items-center">
            <!-- <app-stick-figure></app-stick-figure>  -->
            <app-body-image [data]="imageData"></app-body-image>
          </div>
        </mat-tab>
        <mat-tab label="Prediction">
          <!-- large prediction text -->
          <div *ngFor="let prediction of targetPredictions">
            <div class="block items-center mb-3 w-full">
              <app-prediction
                [predictionTitle]="prediction.target"
                [predictionValue]="prediction['0.5']"
                [lower10Quantile]="prediction['0.1']"
                [upper90Quantile]="prediction['0.9']"
                [confidenceSpan]="prediction.confidenceSpan"
                (click)="onClickPrediction(prediction.target)"
              ></app-prediction>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
        <div>
          <img
            src="assets/images/recover-logo.png"
            alt="WAMS Logo"
            class="w-22 h-28 mx-auto"
          />
        </div>
    </div>
  </section>

  <!-- foot for citation -->
  <footer class="flex justify-center items-center p-4">
    <p class="text-gray-700 text-sm">
      <a
        href="https://www.openlab.psu.edu/ansur2/"
        target="_blank"
        class="text-gray-700 hover:text-gray-900"
        >Gordon, C.C., Blackwell, C.L., Bradtmiller, B., Parham, J.L., Barrientos, P., Paquette, S.P., Corner, B.D., Carson, J.M., Venezia, J.C., Rockwell, B.M., Mucher, M., Kristensen, S. (2014). "2012 Anthropometric Survey of U.S. Army Personnel: Methods and Summary Statistics." Final Report, U.S. Army Natick Soldier Research, Development and Engineering Center, Natick, Massachusetts. December 2014. Approved for public release; distribution is unlimited.</a
      >
    </p>
  </footer>
</div>
