<div class="bg-gradient-to-tr from-fuchsia-300 to-sky-500">
  <section id="login" class="p-4 flex flex-col justify-center min-h-screen max-w-md mx-auto">
    <div class="p-6 bg-sky-100 rounded">
      <div>
        <h3>Wheelchair Assistive Measurement System</h3>
      </div>
      <div class="flex items-center justify-center font-black m-3 mb-12">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mr-3 text-red-600 animate-pulse" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg> -->
      <h1 class="tracking-wide text-3xl text-gray-900">WAMS</h1>
    </div>
        <form id="wams_form" action="api_login" method="POST"
        class="flex flex-col justify-center">
        <div class="flex justify-between items-center mb-3">
          <label for="height-range" class="block font-extrabold mb-2 underline text-sm text-center text-slate-700">Height:</label>
          <label for="height-range" class="block mb-2 text-sm font-medium text-slate-700 ">{{heightInInches}} inches ({{heightInFeetAndInches}})</label>
        </div>
        <div class= "justify-between items-center mb-3">
          <input [min]=32 [max]=90 id="height-range" (change)="onChangeHeight($event)" type="range" value="{{heightInInches}}" class="h-2 w-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-400">
        </div>
        <div class="flex justify-between items-center mb-3">
          <label for="height-range" class="block font-extrabold mb-2 underline text-sm text-center text-slate-700">Weight:</label>
          <label for="height-range" class="block mb-2 text-sm font-medium text-slate-700 ">{{weightInPounds}} lbs</label>
        </div>
        <div class= "justify-between items-center mb-3">
          <input [min]=90 [max]=400 id="weight-range" (change)="onChangeWeight($event)" type="range" value="{{weightInPounds}}" class="h-2 w-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-400">
        </div>
        <div class="flex justify-between items-center mb-3">
          <label for="height-range" class="block font-extrabold mb-2 underline text-sm text-center text-slate-700">Age:</label>
          <label for="height-range" class="block mb-2 text-sm font-medium text-slate-700 ">{{age}} y/o</label>
        </div>
        <div class= "justify-between items-center mb-3">
          <input [min]=0 [max]=120 id="age-range" (change)="onChangeAge($event)" type="range" value="{{age}}" class="h-2 w-full bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-400">
        </div>
        <div class="flex justify-between items-center mb-3">
          <label for="height-range" class="block font-extrabold mb-2 underline text-sm text-center text-slate-700">Gender:</label>
        </div>

        <div class= "justify-between w-full mb-3 items-center">
          <!-- gender radio button -->
          <input id="male-radio" type="radio" value="male" checked  (change)="onChangeGender($event)" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="default-radio-1" class="ml-2 pr-5 text-sm font-medium text-gray-900 ">Male</label>
          <input id="female-radio" type="radio" value="female" (change)="onChangeGender($event)" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="default-radio-1" class="ml-2  pr-5 text-sm font-medium text-gray-900 ">Female</label>
          <input id="other-radio" type="radio" value="other" (change)="onChangeGender($event)" name="default-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="default-radio-1" class="ml-2 pr-5 text-sm font-medium text-gray-900 ">Other</label>
        </div>
        <!-- large prediction text -->
        <div class="flex justify-center items-center mb-3">
          <h2 id="prediction" class="text-2xl font-bold text-center text-gray-900">Hip Width Prediction:</h2>
        </div>
        <div class="flex border border-sky-500 justify-center items-center mb-3">
          <h1 id="prediction_value" class="text-4xl p-4 font-bold text-center text-gray-900">{{predictionValue | number : '1.2-2'}}</h1><p>inches</p>
        </div>
        <!-- submit button -->

          <!-- <button class="px-4 py-1.5 rounded-md shadow-lg bg-gradient-to-r from-pink-600 to-red-600 font-medium text-gray-100 block transition duration-300" type="submit">
            <span id="login_process_state" class="hidden">Sending :)</span>
            <span id="login_default_state">Get Measures<span id="subtotal"></span></span>
          </button> -->
        </form>
    </div>
  </section>
</div>
